:root {
  --font-sizeTitle: 280px;
  --whoamiTextSize: 24px;
  --titreSize: 54px; 
  --svgScale: 0.85;
  --whoamiTitreCol: #f9c87d;
  --backScale: scale(0.8);
  --fontSizeTableMat: 25px;
  --titreMarginTopPrenom: -30px;
  --titreMarginTopNom: -150px;
  --titreMarginBottomNom: -44px;
  --imgWidth: 350px
}

body {
  background-color: darkblue;
  margin: 0px;
}

.firaCodeMenu {
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: var(--fontSizeTableMat);
  color: blanchedalmond;
  white-space-collapse: preserve;
  margin: 0.05%;
}

.parisienneTitre {
  font-family: "Parisienne", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--font-sizeTitle) + 20px);
  margin: 0;
  margin-top: var(--titreMarginTopPrenom);
}

.sourceTitre {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: var(--font-sizeTitle);
  margin-top: var(--titreMarginTopNom);
  margin-bottom: var(--titreMarginBottomNom);
}

.titre {
  flex-direction: column;
  align-items: center;
  display: flex;
  color: #f9c87d;
}

.fleche {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: #f9c87d;
}

.navbar {
  background-color: #00006C;
  position: sticky;
  top: 0px;
  z-index: 900;
  display: flex;
  width: 100%;
  
  
  align-items: baseline;
  justify-content: space-around;
}



.parcoursContainer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.parcoursContainer .friseContainer {
  position: relative;
  width: 33%;
  padding: 25px;
  background-color: #00006C;
  color: #f9c87d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friseContainer .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkblue;
  border: #f9c87d solid 3px;
  padding: 15px;
  width: calc(100% - 36px);

  margin-top: 7px;
  margin-bottom: 7px;
}

.stepFutur {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkblue;
  border: #f9c87d dashed 3px;
  padding: 15px;
  width: calc(100% - 36px);

  margin-top: 7px;
  margin-bottom: 7px;
}

.titreParcours {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -66%);
  text-align: center;
  color: #f9c87d;
  font-family: "Parisienne", serif;
  font-weight: 600;
  font-style: normal;
  font-size: calc(var(--fontSizeTableMat) + 15px);
  margin-top: 0px;
  letter-spacing: -1.5px;
}


.step h1 {
  color: #f9c87d;
  margin-bottom: 0px;
  font-size: calc(var(--fontSizeTableMat));
}

.step p {
  margin-top: 10px;
  color: blanchedalmond;
  font-size: calc(var(--fontSizeTableMat));
  text-align: center;
}


.timeLine {
  background-color: #FFD495;
  width: 6px;
  margin-top: 14;
  margin-bottom: 14;
}






.formContainer {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: var(--whoamiTextSize);
  margin-top: 100px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}

form h1 {
  position: absolute;
  top: 0;
  left: 50%;
  font-family: "Parisienne", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: #f9c87d;
  letter-spacing: -1.1px;
  font-size: calc(var(--fontSizeTableMat) + 15px);
  margin: 0px;
  transform: translate(-50%, -55%);
}


.formContainer form {
  position: relative;
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: #00006C;
  color: #f9c87d;
  padding: 40px;
}

form input[type="email"], form textarea, form input[type="submit"]{
  background-color: darkblue;
  color: #f9c87d;
  border: none;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: var(--whoamiTextSize);
  margin-left: 7px;
  flex: 1;
}

form button {
  border: none;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: var(--whoamiTextSize);
  background-color: #f9c87d;
  color: #00006C;
}

form label {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}



.navbar a {
  text-decoration: none;
  padding-top: 10px;
  flex: 1;
  text-align: center;
  padding-bottom: 10px;
  color: blanchedalmond;
  font-size: calc(var(--whoamiTextSize));
}

.navbar a:hover {
  transition: 0.4s;
  color: #f9c87d;
}

.navbar #selected {
  color: #f9c87d;
  text-decoration: none;
  border-bottom: #f9c87d solid 3px;
  font-size: calc(var(--whoamiTextSize) + 10px);
}


.competencesContainer, .projetsContainer {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  background-color: #00006C;
}

.competencesContainer h1, .projetsContainer h1 {
  position: absolute;
  top: 0;
  font-family: "Parisienne", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: #f9c87d;
  letter-spacing: -1.1px;
  font-size: calc(var(--fontSizeTableMat) + 25px);
  margin: 0px;
  transform: translateY(-55%);
}

.competence {
  display: flex;
  height: 130px;
  width: 100px;
  padding: 14px;
  margin: 14px;
  flex-direction: row;
  justify-content: center;
  background-color: darkblue;
  transition: .1s ease;
}

.competence:hover {
  transform: scale(1.25);
  
}

.competence img {
  width: 100%;
  height: auto;
}

.projet {
  display: flex;
  height: 130px;
  padding: 14px;
  margin: 14px;
  flex-direction: row;
  justify-content: center;
  background-color: darkblue;
  transition: .1s ease;
}

.projet:hover {
  transform: scale(1.25);
}

.projet img {
  width: auto;
  height: 100%;
}

.popupProj {
  border: #f9c87d solid 3px;
  background: #00006C;
  padding: 20px;
  color: blanchedalmond;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transform: scale(0.8);
  transition: transform 0.2s ease;

  display: flex;
  width: 70%;
  height: 80%;
  flex-wrap: wrap;

  overflow-y: auto;

  white-space: normal;
}


.popupProj img {
  width: 100%;

}

.popupProj h1 {
  color: #f9c87d;
  font-size: clamp(1.8rem, 2.5vw, 2.4rem);
  margin-bottom: 0.5rem;
}

.popupProj h2 {
  color: #f9c87d;
  font-size: clamp(1.3rem, 2vw, 1.6rem);
}

.popupProj h3 {
  color: blanchedalmond;
  font-size: clamp(1rem, 1.6vw, 1.3rem);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.popupProj p {
  font-size: clamp(1rem, 1.6vw, 1.1rem);
  margin-bottom: 1rem;
}

.popupProj ul,
.popupProj ol {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: clamp(1rem, 1.5vw, 1.1rem);
}

.popupProj ul li,
.popupProj ol li {
  margin-bottom: 0.5rem;
}

.popupProj strong {
  color: #f9c87d;
}

.popupProj a img{
  width: 20px;
  height: 20px;
  padding-right: 5px;
  color: #f9c87d;
}

.popupProj a {
  width: fit-content;
  color: #f9c87d;
  background-color: darkblue;
  padding: 5px;
  display: flex;
  align-items: center;
}

.popupProj ul li a {
  color: blanchedalmond;
  background-color: transparent;
  padding: 0;
  margin-bottom: 8px;
}

.popupProj ul li a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('img/open_in_new.svg');
  background-size: contain;
  margin-left: 8px;
  color: blanchedalmond;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container:hover .carousel-button{
  opacity: 1;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-track img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.carousel-button {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #f9c87d;
  border: none;
  color: #00006C;
  transition: opacity .3s ease;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}


.overlayBlur.show .popupProj {
  transform: scale(1);
}


.overlayBlur {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  backdrop-filter: blur(2.5px);
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease;
  opacity: 0;
  z-index: 999;
}

.overlayBlur.show {
  display: flex;
  opacity: 1;
}

.popup {
  border: #f9c87d solid 3px;
  background: #00006C;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #f9c87d;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transform: scale(0.8);
  transition: transform 0.2s ease;

  display: flex;
  width: 36%;
  flex-wrap: wrap;

  white-space: normal;
}

.overlayBlur.show .popup {
  transform: scale(1);
}


.popup div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-wrap: wrap;
}

.popup h1 {
  margin: 0px;
  
}

.popup ul {
  padding-left: 25px;
}

.popup a {
  color: blanchedalmond;
}

.popup div:first-child {
  border-right: #f9c87d solid 3px;
  transform: translateX(3px);
  padding-bottom: 30px;
}

.popup div:last-child {
  align-items: start;
  margin: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: #f9c87d solid 3px;
  transform: translateY(-23px);
  padding-top: 14px;
  justify-content: center;
}

.popup div:last-child p {
  margin-top: 0px;
  color: blanchedalmond;
  font-weight: 300;
  font-size: var(--fontSizeTableMat) - 5px;
}




.popup div:last-child ul {
  margin-top: 5px;
  color: blanchedalmond;
}

.popup div:first-child p {
  font-size: calc(var(--fontSizeTableMat) + 10px);
  margin: 5px;
}

.popup div:last-child li a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('img/open_in_new.svg');
  background-size: contain;
  margin-left: 8px;
  color: #f9c87d;
}

.popup div p {
  margin: 0px;
}

#compBUT {
  font-weight: bold;
  font-family: "Source Serif 4", serif;
  font-size: calc(var(--fontSizeTableMat) + 20px);
}


.competenceBO {
  display: flex;
  align-items: center;
  background-color: darkblue;
  padding: 14px;
  margin: 28px;
  transition: .1s ease;
}

.competenceBO:hover {
  transform: scale(1.25);
}

.competenceBO p {
  color: #f9c87d;
  font-family: "Source Serif 4", serif;
  font-size: var(--fontSizeTableMat);
  margin: 0px;
}


.tableMat {
  display: flex;
  flex-direction: column;
  align-items: center;
}


a {
  text-decoration: none;
  
  /*le a prend la couleur de l'élément parent*/
  color: inherit;
}


.whoami {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  color: blanchedalmond;
  font-size: var(--titreSize);
  margin: 0;
  margin-bottom: -40px;
  margin-left: 13%;
}

.whoamiContainer {
  display: flex;
  flex-direction: column;
  background-color: #00006C;
  align-items: center;
  padding-top: 5%;
}

.whoamiLine {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.whoamiLine div {
  margin-bottom: 5%;
  transform: var(--backScale);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whoamiLine div p {
  text-align: center;
  font-size: var(--whoamiTextSize);
  font-weight: bold;
  font-family: "Source Serif 4", serif;
  color: darkblue;
}


.alternance {
  width: 591.7px;
  height: 279.5px;
  background-image: url(img/backAlternance.svg);
}

.alternance p {
  margin: 50px;
  margin-top: 125px;
}

.but {
  width: 595px;
  height: 305px;
  background-image: url(img/backBUT.svg);
}

.but p {
  margin: 50px;
  margin-top: 160px;
}

.perso {
  width: 463px;
  height: 180px;
  background-image: url(img/backPerso.svg);
}

.perso .persoTitre {
  font-family: "Parisienne", "serif";
  font-size: var(--titreSize);
  margin: 0px;
  transform: translateY(-25px) rotate(10deg);
  color: var(--whoamiTitreCol);
  letter-spacing: -1.5px;
}

.perso .c {
  font-family: "Pacifico", serif;
  font-size: 30px;
  transform: translate(-100px, -60px);
}

.perso .r {
  font-family: 'Times New Roman', serif;
  font-weight: 600;
  transform: translate(100px, -120px);
}

.perso .a {
  font-family: "Fira Code", serif;
  font-weight: 700;
  font-size: var(--whoamiTextSize);
  transform: translate(-40px, -165px);
  letter-spacing: -1px;
}

.diplome {
  width: 670px;
  height: 184px;
  background-image: url(img/backDiplome.svg);
  align-items: start;
}

.diplome .diplomeTitre {
  font-family: "Parisienne", "serif";
  font-size: var(--titreSize);
  margin: 0px;
  transform: translate(-140px, -30px) rotate(-5deg);
  color: var(--whoamiTitreCol);
  letter-spacing: -1.5px;
}

.diplome #textLeft {
  margin: 0px;
  text-align: left;
  transform: translate(-30px, 0px);
}

.contact {
  width: 564px;
  height: 298px;
  background-image: url(img/backMeContacter.svg);
}

.contact .contactTitre {
  font-family: "Parisienne", "serif";
  font-size: var(--titreSize);
  margin: 0px;
  transform: translate(80px, -4px) rotate(-16deg);
  color: var(--whoamiTitreCol);
  letter-spacing: -1.5px;
}

.contact p {
  margin: 0;
  transform: translate(0px, 50px);
}

.contact p a {
  text-decoration: underline;
}

.contact p a:hover {
  width: max-content;
  background-color: #FFD495;
  transition: .5s;
}





.projetDesc {
  display: flex;
  flex-direction: column;
}

.projetDesc p {
  color: blanchedalmond;
  font-family: "Source Serif 4", serif;
  font-size: 18px;
  margin-left: 3%;
  margin-top: 0;
  margin-right: 30%;
}

.projetDesc ul {
  color: blanchedalmond;
  font-size: 18px;
  font-family: "Source Serif 4", serif;
  margin-top: -18px;
}

.projetDesc h2 {
  margin-top: 0px;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: #FFD495;
}

.projetDesc a {
  margin-top: 3%;
  font-size: 20px;
  color: blanchedalmond;
  font-style: italic;
  margin-left: 3%;
}

.projetDesc a:hover {
  color: #FFD495;
  transition: .5s;
  background-color: #00006C;
  width: max-content;
}


.projetReverse {
  padding: 1.5%;
  margin: 1.5%;
  display: flex;
  flex-direction: row;
  
  /*pour mettre la description du projet avant la photo 
  quand l'ecran est trop petit*/
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
  background-color: #00006C;
}

.projetReverse img {
  width: var(--imgWidth);
  height:auto;
  border: #FFD495 solid 7px;
  margin: 2%;
}

.projetReverse .projetDesc p a {
  margin-top: 3%;
  font-size: 20px;
  color: blanchedalmond;
  font-style: normal;
  margin-left: 3%;
}

.projetReverse .projetDesc p a:hover {
  color: #FFD495;
  transition: .5s;
  background-color: darkblue;
  width: max-content;
}

.soon {
  margin-top: 5%;
  width: 35%;
  height: 35%;
  background-color: #FFD495;
  text-align: center;
  color: darkblue;
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 54px;
}

.footerTitre {
  text-align: center;
  color: #FFD495;
  font-family: "Parisienne", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 54px;
  margin-top: 0px;
  letter-spacing: -1.5px;
  transform: translateY(90px);
}

footer {
  padding-top: 15px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #00006C;
  justify-content: space-evenly;
  align-items: center;
}

footer p {
  margin: 0px;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #FFD495;
}

footer p a:hover {
  width: max-content;
  background-color: darkblue;
  transition: .5s;
}

@media screen and (max-width: 1200px){
  :root {
    --font-sizeTitle: 280px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: -30px;
    --titreMarginTopNom: -150px;
    --titreMarginBottomNom: -44px;
  }
}

@media screen and (max-width: 1150px){
  :root {
    --font-sizeTitle: 260px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -140px;
    --titreMarginBottomNom: -44px;
  }
}

@media screen and (max-width: 1100px){
  :root {
    --font-sizeTitle: 250px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -130px;
    --titreMarginBottomNom: -44px;
  }
}

@media screen and (max-width: 1050px){
  :root {
    --font-sizeTitle: 240px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -125px;
    --titreMarginBottomNom: -40px;
  }
}

@media screen and (max-width: 1000px){
  :root {
    --font-sizeTitle: 225px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -120px;
    --titreMarginBottomNom: -30px;
  }
}

@media screen and (max-width: 950px){
  :root {
    --font-sizeTitle: 210px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -115px;
    --titreMarginBottomNom: -20px;
  }
}

@media screen and (max-width: 900px){
  :root {
    --font-sizeTitle: 195px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -110px;
    --titreMarginBottomNom: -10px;
  }
}

@media screen and (max-width: 850px){
  :root {
    --font-sizeTitle: 185px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -105px;
    --titreMarginBottomNom: 0px;
  }
}

@media screen and (max-width: 800px){
  :root {
    --font-sizeTitle: 175px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -100px;
    --titreMarginBottomNom: +10px;
  }
}

@media screen and (max-width: 750px){
  :root {
    --font-sizeTitle: 165px;
    --whoamiTextSize: 24px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.7);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -95px;
    --titreMarginBottomNom: +20px;
  }
}

@media screen and (max-width: 700px){
  :root {
    --font-sizeTitle: 155px;
    --whoamiTextSize: 10px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.7);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -90px;
    --titreMarginBottomNom: +40px;
  }
}

@media screen and (max-width: 650px){
  :root {
    --font-sizeTitle: 145px;
    --whoamiTextSize: 20px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.7);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -85px;
    --titreMarginBottomNom: +60px;
  }
}

@media screen and (max-width: 600px){
  :root {
    --font-sizeTitle: 135px;
    --whoamiTextSize: 20px;
    --titreSize: 54px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.7);
    --fontSizeTableMat: 20px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -80px;
    --titreMarginBottomNom: +60px;
  }

  /*le texte de diplome dépace*/
  .diplome #textLeft {
    margin: 0px;
    text-align: center;
    transform: translate(5px, 0px);
    font-size: 20px;
  }
}


@media screen and (max-width: 550px){
  :root {
    --font-sizeTitle: 125px;
    --whoamiTextSize: 10px;
    --titreSize: 34px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 13px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -75px;
    --titreMarginBottomNom: +70px;
  }

  .alternance {
    width: 299px;
    height: 141px;
    background-image: url(img/backAlternanceMin.svg);
    margin-top: 50px;
  }
  
  .alternance p {
    margin: 20px;
    margin-top: 65px;
    font-size: var(--whoamiTextSize);
  }

  .but {
    width: 297px;
    height: 152px;
    background-image: url(img/backButMin.svg);
    margin-top: 0px;
  }
  
  .but p {
    margin: 20px;
    margin-top: 80px;
  }

  .perso {
    width: 299px;
    height: 116px;
    background-image: url(img/backPersoMin.svg);
  }
  
  .perso .persoTitre {
    font-family: "Parisienne", "serif";
    font-size: 34px;
    margin: 0px;
    transform: translateY(-15px) rotate(10deg);
    color: var(--whoamiTitreCol);
    letter-spacing: -0.7px;
  }
  
  .perso .c {
    font-family: "Pacifico", serif;
    font-size: calc(var(--whoamiTextSize)+5px);
    transform: translate(-100px, -30px);
  }
  
  .perso .r {
    font-family: 'Times New Roman', serif;
    font-weight: 600;
    font-size: (var(--whoamiTextSize)+5px);
    transform: translate(60px, -65px);
  }
  
  .perso .a {
    font-family: "Fira Code", serif;
    font-weight: 700;
    font-size: calc(var(--whoamiTextSize)+5px);
    transform: translate(-40px, -95px);
    letter-spacing: -1px;
  }
  
  .diplome {
    width: 311px;
    height: 86px;
    background-image: url(img/backDiplomeMin.svg);
    align-items: start;
  }
  
  .diplome .diplomeTitre {
    font-family: "Parisienne", "serif";
    font-size: 34px;
    margin: 0px;
    transform: translate(-100px, -20px) rotate(-5deg);
    color: var(--whoamiTitreCol);
    letter-spacing: -0.7px;
  }
  
  .diplome #textLeft {
    margin: 0px;
    text-align: left;
    transform: translate(-5px, -10px);
    font-size: 12px;
  }
  
  .contact {
    width: 285px;
    height: 150px;
    background-image: url(img/backMeContacterMin.svg);
  }
  
  .contact .contactTitre {
    font-family: "Parisienne", "serif";
    font-size: var(--titreSize);
    margin: 0px;
    transform: translate(50px, -12px) rotate(-16deg);
    color: var(--whoamiTitreCol);
    letter-spacing: -0.7px;
  }
  
  .contact p {
    margin: 0;
    transform: translate(0px, 20px);
  }

  .mesProjets {
    font-size: 30px;
  }

  .projet h2 {
    font-size: 15px;
  }

  .projet .projetDesc p {
    font-size: 7px;
  }

  .projet .projetDesc ul {
    font-size: 7px;
    margin-top: -7px;
  }

  .projet .projetDesc a {
    font-size: 9px;
    margin-top: 0px;
  }

  .projet img {
    width: 150px;
    border: 2px solid #FFD495;
  }

  .projetReverse h2 {
    font-size: 15px;
  }

  .projetReverse .projetDesc p {
    font-size: 7px;
  }

  .projetReverse .projetDesc ul {
    font-size: 7px;
    margin-top: -7px;
  }

  .projetReverse .projetDesc a {
    font-size: 8px;
    margin-top: 0px;
  }

  .projetReverse .projetDesc p a {
    font-size: 8px;
    margin-top: 0px;
  }

  .projetReverse img {
    width: 150px;
    border: 2px solid #FFD495;
  }

  .soon {
    font-size: 9px;
  }

  .footerTitre {
    font-size: 24px;
    transform: translateY(40px);
    letter-spacing: -0.45px;
  }

  footer p {
    font-size: 10px;
    height: 20px;
  }
}

@media screen and (max-width: 500px){
  :root {
    --font-sizeTitle: 110px;
    --whoamiTextSize: 10px;
    --titreSize: 34px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 10px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -70px;
    --titreMarginBottomNom: +85px;
  }
}

@media screen and (max-width: 450px){
  :root {
    --font-sizeTitle: 100px;
    --whoamiTextSize: 10px;
    --titreSize: 34px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 8px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -60px;
    --titreMarginBottomNom: +85px;
  }
}

@media screen and (max-width: 400px){
  :root {
    --font-sizeTitle: 60px;
    --whoamiTextSize: 10px;
    --titreSize: 24px; 
    --whoamiTitreCol: #f9c87d;
    --backScale: scale(0.8);
    --fontSizeTableMat: 5px;
    --titreMarginTopPrenom: 0px;
    --titreMarginTopNom: -40px;
    --titreMarginBottomNom: +85px;
  }

  .perso .persoTitre {
    font-family: "Parisienne", "serif";
    font-size: 34px;
    margin: 0px;
    transform: translateY(-20px) rotate(10deg);
    color: var(--whoamiTitreCol);
    letter-spacing: -0.7px;
  }

  .perso .c {
    font-family: "Pacifico", serif;
    font-size: calc(var(--whoamiTextSize)+5px);
    transform: translate(-65px, -30px);
  }

  .contact .contactTitre {
    font-family: "Parisienne", "serif";
    font-size: var(--titreSize);
    margin: 0px;
    transform: translate(50px, 7px) rotate(-16deg);
    color: var(--whoamiTitreCol);
    letter-spacing: -0.7px;
  }
  
  .contact p {
    margin: 0;
    transform: translate(0px, 35px);
  }

  .diplome .diplomeTitre {
    font-family: "Parisienne", "serif";
    font-size: 34px;
    margin: 0px;
    transform: translate(-60px, -20px) rotate(-5deg);
    color: var(--whoamiTitreCol);
    letter-spacing: -0.7px;
  }
  
  .diplome #textLeft {
    margin: 0px;
    text-align: left;
    transform: translate(-5px, -10px);
    font-size: 9px;
  }

  footer p {
    margin: 2px;
  }
}
